Fluxo principal.json
[{"id":"bc5e0dda.c942e","type":"tab","label":"Fluxo principal","disabled":false,"info":""},{"id":"6d81c7df.c981f8","type":"http in","z":"bc5e0dda.c942e","name":"Webhook Twilio","url":"/message-zap","method":"post","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["f36124ca.595888","da3e63d2.763f7","eac28699.0744a8"]]},{"id":"da3e63d2.763f7","type":"change","z":"bc5e0dda.c942e","name":"Responder OK","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["7c85b596.f80f2c"]]},{"id":"7c85b596.f80f2c","type":"http response","z":"bc5e0dda.c942e","name":"","statusCode":"200","headers":{},"x":560,"y":280,"wires":[]},{"id":"eac28699.0744a8","type":"debug","z":"bc5e0dda.c942e","name":"Debug da mensagem de entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":360,"wires":[]},{"id":"f36124ca.595888","type":"switch","z":"bc5e0dda.c942e","name":"Tipo de entrada","property":"payload.MediaContentType0","propertyType":"msg","rules":[{"t":"cont","v":"image","vt":"str"},{"t":"cont","v":"audio","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":380,"y":440,"wires":[[],[],["5d137a8a.0494e4"]]},{"id":"5d137a8a.0494e4","type":"change","z":"bc5e0dda.c942e","name":"Guardar dados do Twilio","rules":[{"t":"set","p":"twilio","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"twilio.Body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":560,"wires":[["6876f58c.a182cc"]]},{"id":"6876f58c.a182cc","type":"function","z":"bc5e0dda.c942e","name":"Controle de usuário/sessão I","func":"if (msg.additional_context){\n    msg.additional_context.global =  {\n        system: {\n            user_id: msg.twilio.From\n        }\n    }\n}else{\n    msg.additional_context = {\n        msgsid: msg.twilio.MessageSid,\n        global: {\n            system: {\n                user_id: msg.twilio.From\n            }\n        }\n    }\n    \n}\nvar session = flow.get(msg.twilio.From)|| false;\nif(session && session.timestamp + 55*60*1000 > Date.now()){\n    msg.params = {\n        session_id: session.id\n    }\n}else{\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":620,"wires":[["674788a4.dcf288"]]},{"id":"674788a4.dcf288","type":"watson-assistant-v2","z":"bc5e0dda.c942e","name":"Watson Assistant","service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"6d98bfc2-8d5e-4e2a-b9d1-47917082b662","debug":true,"restart":false,"return_context":true,"alternate_intents":true,"multisession":true,"timeout":"","optout-learning":false,"x":510,"y":680,"wires":[["184c01e.69f09fe","2dd9cc86.fcb314"]]},{"id":"184c01e.69f09fe","type":"function","z":"bc5e0dda.c942e","name":"Controle de usuário/sessão II","func":"msg.assistant = msg.payload\ndelete msg.additional_context\nlet session = {\n    id: msg.assistant.session_id,\n    timestamp: Date.now()\n}\nflow.set(msg.twilio.From, session)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":680,"wires":[["ddbae730.1425c8"]]},{"id":"ddbae730.1425c8","type":"function","z":"bc5e0dda.c942e","name":"Separar respostas em diferentes mensagens","func":"for (let i in msg.assistant.output.generic) {\n    msg.topic = msg.twilio.From\n    msg.payload = msg.assistant.output.generic[i]\n    msg.generic_index = i\n    node.send(msg)\n} \nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":620,"wires":[["a179e46e.69fa38"]]},{"id":"a179e46e.69fa38","type":"delay","z":"bc5e0dda.c942e","name":"Delay entre mensagens","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":560,"wires":[["9d9e49c3.1d4b48"]]},{"id":"9d9e49c3.1d4b48","type":"switch","z":"bc5e0dda.c942e","name":"Tipo de resposta","property":"payload.response_type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"eq","v":"option","vt":"str"},{"t":"eq","v":"suggestion","vt":"str"},{"t":"eq","v":"search","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1090,"y":440,"wires":[["312dca1c.63c5f6"],["1b14e9c8.fd2866"],["ce3542c5.3ef95"],[]]},{"id":"312dca1c.63c5f6","type":"change","z":"bc5e0dda.c942e","name":"Texto simples","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":400,"wires":[["2fabadca.45e882"]]},{"id":"ce3542c5.3ef95","type":"function","z":"bc5e0dda.c942e","name":"Suggestions","func":"//let suggestion_text = \"*\"+msg.payload.title+\"*\"\nlet suggestion_text = msg.payload.title\nfor (let suggestion of msg.payload.suggestions) {\n    suggestion_text += \"\\r\\n - \"+suggestion.label\n}\nmsg.payload = suggestion_text\n//flow.set(msg.twilio.From, msg.assistant.session_id)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":480,"wires":[["2fabadca.45e882"]]},{"id":"1b14e9c8.fd2866","type":"function","z":"bc5e0dda.c942e","name":"Options","func":"//let option_text = \"*\"+msg.payload.title+\"*\"\nlet option_text = msg.payload.title\nfor (let option of msg.payload.options) {\n    option_text += \"\\r\\n - \"+option.label\n}\nmsg.payload = option_text\n//flow.set(msg.twilio.From, msg.assistant.session_id)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":440,"wires":[["2fabadca.45e882"]]},{"id":"2fabadca.45e882","type":"twilio out","z":"bc5e0dda.c942e","twilio":"5e978373.1179dc","twilioType":"sms","url":"","number":"","name":"Saída do Twilio","x":1640,"y":440,"wires":[]},{"id":"483601ee.950c5","type":"comment","z":"bc5e0dda.c942e","name":"Mensagens do tipo Texto","info":"","x":430,"y":500,"wires":[]},{"id":"2dd9cc86.fcb314","type":"debug","z":"bc5e0dda.c942e","name":"Debug retorno do Assistant","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":740,"wires":[]},{"id":"5e978373.1179dc","type":"twilio-api","z":"bc5e0dda.c942e","name":"","sid":"ACceb049bbaf44c5053bc8e36f942ebf8c","from":"whatsapp:+14155238886"}]